@charset "utf-8";
/* CSS Document */

body
{
	background: none repeat scroll 0 0 #ffffff;
    /*color: #666666;*/
    font-family: 宋体,Arial Narrow,arial,serif;
    font-size: 13px;
}

* {
    margin: 0;
    padding: 0;
}
.devtit
{
	background: url("../images/bg.gif") repeat-x scroll 0 0 transparent;
    height: 25px;
}
.bor {
    border: 1px solid #9CB6CF;
	margin-left: 5px;
	margin-right: 5px;
}
a
{
outline:none;
-moz-outline:none;
} 
/*
input, select, textarea 
{
	color:#555;
	vertical-align:middle;
	margin-bottom: 5px;
	font-size:12px;
	border:1px solid #bbb;
}
*/
li
{
	list-style:none;
} 
.Insert label {
    color: #010101;
    margin-right: 25px;
    text-align: right;
    width: 100px;
	float:left
}
.Solution {
    /*border: 1px solid #D6E1EA;*/
	border: 1px solid #98CAEF
    margin: 5px;
    padding: 5px;
    position: relative;
}
.bor p{
	margin: 10px 0px;
}

/* ======================================================== Color ==========================================================*/
.Black {
color:#000;
}
.White{
color:#fff;
}
.Gray{
color:#666;
}
.Blue{
color:#024772;
}
.ThinBlue{
color:#1077b5;
}
.Red{
color:#ff0000;
}
.Orange{
color:#996600;
}
.ThinOrange{
color:#ff6000;
}
.Yellow{
color:#fea900;
}
.light-yellow{
color:#F8EFBB;
}
.Pink{
color:#ff00ff;
}
.Green{
color:#339900;
}
.ThinGreen{
color:#999900;
}
.Red{
color:#cc3300;
}
.RedBox , .GreenBox , .BlueBox ,.OrangeBox{
padding:3px;
color:#fff;
display:inline-block;
line-height:16px;
font-size:12px;
}
.RedBox{
background:#cc3300;
}
.GreenBox{
background:#339900;
}
.OrangeBox{
background:#ffa900;
}
.BlueBox{
background-color:#0066ff;
}
.BlueBorder{
border:1px solid #b7ddef;
}
.GrayBackground{
background:#f6f6f6;
}
.GrayBorder{
border:1px solid #ccc;
} 
.btn_b {
    background-color: #3385CA;
    background-image: url("images/btn_b.gif");
    background-position: 0 bottom;
    background-repeat: repeat-x;
    border-color: #4C8ABE #003E72 #003E72 #4C8ABE;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    vertical-align: middle;
    white-space: nowrap;
    width: 60px;
	word-wrap: break-word;
}
/* 灰色按钮 */
.gray_btn
{
	border:0px;
	width:80px;
	height:25px !important;
	line-height:25px;
	cursor:pointer;
	background:url(../bg/btn_bg.png) no-repeat 0px -50px;
}
table.form, table.list, .layout table {
    border-left: 1px solid #BAD7E7;
    border-top: 1px solid #BAD7E7;
    font-size: 13px;
    margin: auto auto 10px;
    text-align: center;
    vertical-align: middle;
    width: 98%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ======================================================== LINK ==========================================================*/
a 
{
	color:#cdcdcd;
	text-decoration:none;
	cursor:pointer;
}
a:hover 
{
	text-decoration:underline;
}
a.Blue
{
	color:#1077b5;
}
a.Blue:hover
{
	text-decoration:underline;
	color:#1077b5;
} 

/* ======================================================== Dev Progress ==========================================================*/
.Content div.Right {
    background: url("../images/content_right_bg.png") no-repeat scroll right top transparent;
    padding: 20px 24px 0 13px;
    width: 95%;
	min-height: 500px;
	position: relative;
}
.Content {
  background: url("../images/content_left_bg.png") no-repeat scroll left top transparent;
    float: left;
    padding-left: 11px;
    width: 95%;
	margin-left: 20px;
	min-height: 500px;
	position: relative;
}
.Midbox {
    margin-bottom: 15px;
}
.Devicon {
    background: url("../images/devcommon.gif") no-repeat scroll -485px -387px transparent;
    color: #024772;
    font-size: 16px;
    font-weight: bold;
    height: 23px;
    margin-right: 5px;
    padding: 3px 0 0 17px;
}
.Content .Solution{
	border: 1px solid #98CAEF;
    margin-top: 10px;
    padding: 10px;
    position: relative;
}
.Content .Solution .dev{
	position: relative;
}
.Content .devcontent{
	border: 1px solid #CD0000;
	margin-top: 10px ;
	padding: 0;
	position: relative ;
}
	
.BlueBackground {
    background: url("../images/h3_bg.jpg") repeat scroll 0 0 transparent;
    color: #555555;
    border: medium none;
	height: 35px;
}
.Content .Solution.Insert label {
    color: #010101;
    margin-right: 25px;
    text-align: right;
    width: 100px;
	float:left
}
.Black {
    color: #000000;
}
.DevTitle {
    font-size: 13px;
    font-weight: bold;
}
table.dev tr td {
    border-bottom: 2px solid #FFFFFF;
    font-family: Arial,"宋体";
	font-size: 13px;
}
.GrayBackground {
    background: none repeat scroll 0 0 #F6F6F6;
}
table.dev tr.TableTop:hover {
    background: none repeat scroll 0 0 #F7F6A3;
}
table.bugdetail tr.title td, table.bugdetail tr.last td {
    background-color: #DDEDFE;
}
table.bugdetail tr td {
    background-color: #F6F6F6;
    font-family: Arial,"宋体";
    line-height: 36px;
    padding: 0 8px;
}
table.bugdetail tr.arrow td, table.bugdetail tr.arrow:hover td {
    background: url("../images/arrow_big_icon.gif") no-repeat scroll 16px 50% #FFFFFF;
    height: 28px;
	
}


#_form p,#_form p.p3,#_form p.p7,#_form p.p4,#_form p.p6,#_form p.p2{float:left;width:100%}
#_form p input{height:24px;line-height:24px}
#_form p.p2{width:20%}
#_form p.p3{width:30%}
#_form p.p4{width:40%}
#_form p.p6{width:55%}
#_form p.p7{width:65%}

table.bmbd{width:100%;margin:10px 0px}
table.bmbd td{text-align:center;height:28px}
table.bmbd td.bdt{height:50px;font-weight: bold;background-color:#E6F2FE}
table.bmbd td select{height:24px;border:none;line-height:24px;*border:0px;width:96%}
table.bmbd td input{border:none;*border:0px;width:96%;height:24px;line-height:24px;margin:2px 0;overflow:hidden}

.fl{float:left}
.clear{clear:both}
.width3{width:40%}
.width7{width:60%}
.input_box { font-size:12px;line-height:130%;border:solid 1px #c1c1c1; background:url(../bg/bg_input.png) no-repeat; }
table.dwmc{width:100%;border-top:solid #ccc 1px;border-left:solid #ccc 1px}
table.dwmc td{text-align:center;font-size:12px;padding:5px;border-bottom:solid #ccc 1px;border-right:solid #ccc 1px;height:20px;line-height:20px}
table.dwmc td input{height:24px;line-height:24px}
.spa{display:block;height:24px;line-height:24px;float:left;padding:0px 10px}

.sblue_btn
{
	border:none;
	color:#ffffff;
	width:80px;
	height:25px;
	line-height:25px;
	cursor:pointer;
	background:url(../bg/btn_bg.png) no-repeat 0px -25px;
}


.blue_btn{height:40px;font-size:18px;font-weight:bolder;background:url(../images/submitbg.gif) no-repeat;width:130px;text-align:center;cursor:pointer;border:none;color:#fff}

.notice{padding:5px}
.notice li{color:red;line-height:20px}

.box-positon {
    background: url("../images/bg.png") repeat-x scroll 0 -42px transparent;
    height: 34px;
}


.rpos {
    background: url("../images/icon.png") no-repeat scroll 24px -257px transparent;
    color: #000000;
    float: left;
    font-weight: normal;
    line-height: 34px;
    text-indent: 50px;
}

.body-box {
    margin: 0 auto;
    width: 99%;
}


.pn-ftable {
    background-color: #B4CFCF;
    margin-top: 5px;
}

.pn-flabel-h {
    height: 27px;
}
.pn-flabel {
    background-color: #E6F2FE;
    color: #000000;
    padding-right: 3px;
    text-align: right;
}

.pn-fcontent {
    background-color: #FFFFFF;
    padding-left: 5px;
}






.submit {
    background: url("../images/theme-button.png") no-repeat scroll -71px -35px transparent;
    border: 0 none;
    color: #666665;
    cursor: pointer;
    height: 24px;
    text-indent: 18px;
    width: 59px;
}
.reset {
    background: url("../images/theme-button.png") no-repeat scroll -141px -35px transparent;
    border: 0 none;
    color: #666665;
    cursor: pointer;
    height: 24px;
    text-indent: 18px;
    width: 59px;
}

.add {
    background: url("../images/button.png") no-repeat scroll -11px -111px transparent;
    border: 0 none;
    color: #666666;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    text-indent: 18px;
    width: 59px;
}

.query {
    background: url("../images/button.png") no-repeat scroll -11px -77px transparent;
    border: 0 none;
    color: #666666;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    text-indent: 18px;
    width: 59px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
}

/*=========================== loading style ============================== */
.del-button {
    background: url("../images/del-button.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #676666;
    cursor: pointer;
    height: 24px;
    text-indent: 18px;
    width: 59px;
}
.browse {
    background: url("../images/theme/button.png") no-repeat scroll -127px -621px transparent;
    border: 0 none;
    color: #666666;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    text-indent: 18px;
    width: 59px;
}

.clearfix:after{clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:"."}
