<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql"/>
	</properties>
	<typeAliases>
		<typeAlias type="com.huayue.platform.entity.User" alias="user" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.huayue.framework.mybatis.interceptor.PaginationInterceptor"></plugin>
	</plugins>
</configuration>